* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;
width: 100%;
}

article {
  margin: 20px;
  padding: 5px;
  border-bottom: 3px solid #a71a1a;
}

article h2 {
  font-size: 30px;
}
